GOOGLE_CLIENT_ID=1092970404513-6e9m6d4djft4onkvqhlc7r83nu4q992d.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback
MONGODB_URI=mongodb://localhost:27017/open-mandi-local
SESSION_SECRET=your_session_secret_here

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000
BASE_URL=http://localhost:8000
ENCRYPTION_KEY=your_encryption_key_here
FRONTEND_URL=http://localhost:3000
VAPID_PUBLIC_KEY=your_vapid_public_key_here
VAPID_PRIVATE_KEY=your_vapid_private_key_here
VAPID_SUBJECT=mailto:you@example.com